<html lang="en">
    <%- include('head.ejs'); %>

    <nav>
      <ul>
        <li>Blush</li>
        <li><a href="/logout-profile" id="removeProfileButton" action="/datingPage" method="post">Log out</a></li>
        <li><%= username %></li>
        <li><img class="uploadedImgHeader" src="/upload/<%= cover %>" alt=""></li>
      </ul>
    </nav>

  <body>
    <!-- grid met profielen -->
  </body>

</html>
