<html lang="en">
    <%- include('head.ejs'); %>

    <nav>
      <ul>
        <li>Blush</li>
        <li><a href='/to-add-profile' id="removeProfileButton2">Maak profiel aan</a></li>
        <li><a id="removeProfileButton">Aanmelden</a></li>
      </ul>
    </nav>

    <body>
      <h1>Je bent uitgelogd!</h1>
    </body>

</html>
