@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Lato:400,700,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

progress {
  max-width: 100vw;
}

form {
  max-width: 100vw;
  padding: 2em;
  background-color: #b0bef0;
  margin: 2em;
}

legend {
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    margin-bottom: 0.5em;
}

fieldset {
  border: none;

  padding: 1em 0em;
}

label {
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;

}

input {
  background-color: transparent;
  margin-top: 0.5em;
  border: none;
  padding: 0.5em 1em;
  border-bottom: 1px white solid;
}

label, input {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    display: block;
    width: 100%;
}

input[type=submit] {
  margin-top: 1em;
  background-color: #6564bf;
  padding: 0.5em 0em;
  border: none;
  border-radius: 25px;
  color: white;
}

input[type=radio] {
  display: inline;
}
